HybridWebApplication/.vs/
HybridWebApplication/Api/Api.csproj.user
HybridWebApplication/HybridWebApplication/HybridWebApplication.csproj.user
HybridWebApplication/Api/bin/
HybridWebApplication/Api/obj/
HybridWebApplication/HybridWebApplication/bin/
HybridWebApplication/HybridWebApplication/obj/
HybridWebApplication/packages/
