<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="webpages:Version" value="3.0.0.0" />
		<add key="webpages:Enabled" value="false" />
		<add key="ClientValidationEnabled" value="true" />
		<add key="UnobtrusiveJavaScriptEnabled" value="true" />

		<!--Application Settings-->
		<add key="GrantIdUrl" value="https://lacuna-dev.grantid.com" />
		
		<add key="AppId" value="login-api-sample" />
		<add key="AppSecret" value="PSJIAi6cL5+glvImpWE5vfEW6L+14SBkZHj7BcRCcKM=" />

		<add key="AppIdCertificate" value="certificate-login-api-sample" />
		<add key="AppSecretCertificate" value="tY3GO26ZRUHkAMGbPSQN5IMzDIJAU9kDnup5X1LinQ8=" />
	</appSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
	</startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
