<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Grant.Id.Api" version="3.5.0" targetFramework="net46" />
  <package id="Grant.Id.Client" version="2.6.0" targetFramework="net46" />
  <package id="Grant.IdentityModel" version="3.1.0" targetFramework="net46" />
  <package id="Newtonsoft.Json" version="11.0.1" targetFramework="net46" />
  <package id="System.ComponentModel.Annotations" version="4.3.0" targetFramework="net46" />
  <package id="System.ComponentModel.Primitives" version="4.3.0" targetFramework="net46" />
  <package id="System.Text.Encodings.Web" version="4.5.1" targetFramework="net46" />
</packages>