@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>This is a non protected page</h1>
    <p class="lead">To access a private resource click the button below</p>
    <p><a href="/Home/PrivateRoute" class="btn btn-primary btn-lg">Login &raquo;</a></p>
</div>