
@{
    ViewBag.Title = "PrivateResource2";
}


<div class="jumbotron">
	<h1>@(ViewBag.PrivateResource != null ? "Protected resource retrieved" : "Error retrieving private resource")</h1>
	@if (ViewBag.PrivateResource != null) {
		<p class="lead">@ViewBag.PrivateResource</p>
	} else {
		<p class="lead text-danger">@ViewBag.Error</p>
	}
	<p><a href="/Home/PrivateRoute" class="btn btn-primary btn-lg">Back &raquo;</a></p>
</div>

