
@{
    ViewBag.Title = "PrivateResource";
}


<div class="jumbotron">
	<h1>Protected resource fetched</h1>
	<p class="lead">@ViewBag.PrivateResource</p>
	<p><a href="/Home/PrivateRoute" class="btn btn-primary btn-lg">Back &raquo;</a></p>
</div>

